/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** My styles **/

@keyframes bounce {
    0% {
        transform: translateX(4px);
    }
    25% {
        transform: translateX(4px);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(-4px)
    }
    100% {
        transform: translateX(-4px);
    }
}
* {
    box-sizing: border-box;
}

html,body {
    background-color: #ffeeee;
    color: #001111;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

h2 {
    text-align: center;
    margin: 10px 0;
    font-size: 1.5rem;
}

.mainHeader,.mainContent,.mainFooter {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mainHeader {
    background-color: #272727;
    color: #ffffff; 
}

.mainNav {
    display: flex;
    flex-basis: 75%;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.siteLogo {
    display: flex;
    flex-basis: 25%;
    position: relative;
}

.siteLogo__link {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
    position: relative;
}

.navMenu {
    display: flex;
    flex-direction: row;
}

.navMenu__item {
    display: inline-flex;
}

.navMenu__item__link {
    text-decoration: none;
    color: inherit;
    padding: 10px 20px;
    margin: 0 10px;
    position: relative;
}

.siteLogo__link::before,.navMenu__item__link::before {
    content: '<';
    position: absolute;
    left: 5px;
    top: 12px;
}

.siteLogo__link::after,.navMenu__item__link::after {
    content: '>';
    position: absolute;
    right: 5px;
    top: 12px;
}

.siteLogo__link:hover::before,.navMenu__item__link:hover::before {
    animation: bounce .8s infinite;
}
.siteLogo__link:hover::after,.navMenu__item__link:hover::after {
    animation: bounce .8s infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
}

.content {
    flex-direction: column;
    text-align: center;
}

.contentWrapper {
    text-align: left;
    margin: 20px 0;
}